
   *{
       margin: 0;
       padding:0;

   }  
body {
          margin: 0;
        background-color:#edf5f1;
          
        }
      
.heading{
    
    display: flex;
    justify-content: space-around;
}
      
#sidebar{
    position: fixed;
    width: 20%;
    height: 100%;
    text-align: center;
   
}
#sidebar ul h2  {
    text-align: center;
    font-size: 50px;
    color: rgb(85, 73, 73);
    font-family: 'Playfair Display', serif;
   
}
#sidebar li {
    color: rgb(85, 73, 73);;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    padding:20px;
    border-bottom: 1px soild grey;
    text-align: center;

}
.toggle-btn{
    position: absolute;
    left: 105%;
    top: 15px;
    

}
.toggle-btn span{
    display: block;
   background-color: #f80040;
    width:30px;
    height: 5px;
    margin: 3px;
    
}
.btnbtn{
    background-color: #f80040;
    width: 80px;
    height: 40px;
    border: none;
    border-radius: 30px;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    color: white;
}

    
.one h1{
    width: 700px;
    font-size: 80px;
    font-family: 'Playfair Display', serif;
    margin-left:350px ;
    padding-top: 70px;

}
.two hr{
    float: right;
    margin-top: 10px;
    margin-right: 160px;
   

}
.two p{
    padding-top: 50px;
   
    margin-top: -230px;
    margin-left: 1000px;
    font-size: 20px;
    width: 230px;
    text-align: justify;
    padding-right: 10px;
}
.image-wrapper{
    margin-left: 330px;
   display: flex;
  
   
    

}
.image-one{
    background-color: white;
    width: 180px;
    height: 250px;
    margin: 10px ;

    border-radius: 30px;
    text-align: center;
    
}
.image-one img{
    width: 140px;
    height: 140px;
    border-radius: 100px;
    margin-top: 20px;
}
.image-one h2{
    padding-top: 10px;

}
.container{
    display: flex;
    flex-wrap: wrap;
}














@media (min-width:600px){
    .heading{
        display: none;
    }
    .toggle-btn{
        display: none;
    
    }
    #sidebar ul {
        margin-top: 40px;
    
    }
    
}

@media (max-width:500px) {
    .heading{
        margin-left: 100px;
        padding-top: 10px;
    }
    #sidebar{
        background-color: blanchedalmond;
        position: fixed;
        width: 60%;
        height: 100%;
        left: -60%;
    }
    .btnbtn{
        display: none;
    }
    #sidebar ul h2{
        display: none;
    }
    #sidebar.active{
        left: 0%;
    }
    .toggle-btn{
        position: absolute;
        left: 105%;
        top: 15px;
        
    
    }
   
   
    .one h1{
        margin-left: 0px;
        margin-top: -20px;
        width: 100%;
        padding-left: 10px;
        font-size: 40px;
        font-family: 'Playfair Display', serif;
       
    
    }
    .two p{
        margin-top: 0px;
        margin-left: 0%;
        padding-left: 20px;
        font-size: 15px;
        text-align: justify;
        padding-right: 10px;
        
    }
    .image-wrapper{
        width: 100%;
       margin-left: 0px;
       display: flex;
       flex-wrap: wrap;
       justify-content: space-around;
    }
    .image-one{
        margin-top: 20px;
    }
    .image-one{
        background-color: white;
        width: 140px;
        height: 210px;
        border-radius: 30px;
        text-align: center;
        
    }
    .image-one img{
        width: 100px;
        height: 100px;
        border-radius: 100px;
        margin-top: 20px;
    }
    .image-one h2{
        padding-top: 10px;
    
    }
    .two hr{
        float: right;
        margin-top: 5px;
        margin-right: 160px;
        margin-bottom: 20px;
       
    
    }
   .conatiner .one{order: 0;}
    .container .two{order:2}
    .container .three{order:1}
    
}